.visibility-animation {
    animation: visibilityAnimation 0.5s forwards;
    animation-delay: 1s;
}
.tiny-star-anim{
    animation: tinyStarAnim 0.2s forwards;
    animation-delay: 1.5s;
}

.big-star-anim {
    animation: bigStarAnim 0.2s forwards;
    animation-delay: 1.5s;
}

@keyframes tinyStarAnim {
    0%{

    }
    100% {
        transform: translate(480%, 200%);
        visibility: visible;
    }
}

@keyframes bigStarAnim {
    0%{
        
    }
    100% {
        transform: translate(-300%, -180%);
        visibility: visible;
    }
}


@keyframes visibilityAnimation {
    from {
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}
