@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arial';
  src: url('../public/fonts/bpg_arial_2009.ttf');
}

@font-face {
  font-family: 'Arial-caps';
  src: url('../public/fonts/bpg-arial-caps-webfont.ttf');
}


body {
  margin: 0;
  background-color: #EAEAEA;
  font-family: Arial;
}
